.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

/* shift side drawer to its original position */
.Open {
    transform: translateX(0);
}

/* shift side drawer to the left */
.Close {
    transform: translateX(-100); 
}

/* note: there are 3 CSS classes called "Logo". However, due to CSS Modules,
each Logo class are independent of each other. */
.Logo {
    height: 11%;
}