.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center; /* align items vertically */
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

/* note: there are 3 CSS classes called "Logo". However, due to CSS Modules,
each Logo class are independent of each other. */
.Logo {
    height: 80%;
}